@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Container*/
.reset_container {
    display: grid;
    background-color: rgba(242, 240, 240);
    place-items: center;
    font-weight: 600;
    font-size: larger;
    width: 23rem;
    height: 25rem;
    padding:50px 20px;
    border: 1px solid wheat;
    margin: auto auto;
    border-radius: 1rem;
}
.restePword_body{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-y;
    background-size: cover;
    /* Center and scale the image nicely */
    background-position: center;
}
/* Form */

.header{
    margin: 1px;
    color: #35b8be;
}

.form-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    padding: 30px;
    margin-right: 20px;
}

.form-control {
    font-size: 1.2rem;
    width: 16rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input{
    margin: 10px;
}

input:hover{
    border: 2px solid #35b8be ;
}

::placeholder{
    text-align: center;
    font-size: medium;
}

/* Error message */
.error-message {
    color: red;
    font-weight: bold;

}

/* Buttons */
Button {
    font-size: 1.2rem;
    border: none;
    width: 10rem;
    height: 3rem;
    margin: 35px 80px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    background-color:#35b8be;
    color: white;
}

 #submit {
    background-color:rgb(136, 204, 204);
    /* color: white; */
} 

#submit:hover {
    background-color: rgb(157, 233, 233);
}

#submit:active {
    background-color: rgb(136, 204, 204)
}

.btn-secondary {
    background-color: #f44336;
    color: white;
}

.btn-secondary:hover {
    background-color: #da190b;
}

.login_small{
    text-align: center;
    margin-left: 10px;
    font-size: medium;
}
.a_link:hover{
    color: rgb(20, 107, 236);
}

.a_lin{
    text-align: center;
}
